/*Directory Page*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.directory {
    display: flex;
	margin: 0 auto;
	border: 1px solid #bbb;
	padding: 0.5rem;
	max-width: 700px;
	background-color: #eee;
	font-family: "Caveat", cursive;
}

.menu {
	display: none;
    
}

.menu button {
	padding: 1rem;
}

article,
section {
	margin: 0.75rem;
}

section {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: rgb(248, 216, 236);
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	align-items: center;
}

.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: flex;
	align-items: center;
}

.grid section {
	flex-direction: column;
	text-align: center;
}

.grid section > * {
	margin: 0.1rem;
}

.list section {
	flex-direction: row;
	justify-content: left;
}

.list section > * {
	margin: 0 1rem;
	text-align: left;
}

.list section img {
	display: none; /* smaller viewports only */
}

article h3 {
	font-size: 1.5rem;
}


img {
	height: 75px;
	max-width: 100%; /* Images are jerks - Seattle*/
}

body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-color: #f7ebd7;
    max-width: 100%;
    justify-content: center;

}
header {
    padding: 5px 0;
    width: 100%;
    display:flex;
    align-content: center;
    justify-content: center;
    background-image: url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

@media (min-width: 700px) {
	.list section img {
		display: block;
	}
    #heading{
        grid-column: 1/4;
        text-align: center;
    }

    .menu {
        display: block;
        margin: 1rem auto;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0.5rem;
        background-color: #bbb;
        text-align: center;
    }
}