@media only screen and (min-width: 1106px) {
    .navigation{
        display: flex;
    }
    .navigation li {
        display: block;
        flex: 1 1 auto;
    }
    .navigation a{
        text-align: center;
    }
    .navigation li:first-child {
        display: none;
    }
    main{
        grid-template-columns: 1fr 3fr 1fr;
        max-width: 1200px;
    
    }
    .large{
        grid-column: 2/3;
        grid-row: 2/4;
    }
    .belowlarge{
        grid-column: 2/3;
        grid-row: 4/5;
    }
    .join {
        grid-column: 1/2;
    }
    .spotlight{
        display: grid;
        grid-template-columns: 1fr;
        grid-column: 3/4;
        grid-row: 2/5;
    }
    #date{
        justify-content: center;
        

    }
    #discover{
        grid-column: 1/4;
        grid-row: 1/2;
    }
    .dt{
        grid-column: 1/4;
        grid-row: 1/2;
    }
    #spot3{
        display: block;
    }
    #contact-cont{
        grid-column: 2/3;
    }
}