* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-color: #f7ebd7;
    max-width: 100%;
    justify-content: center;

}
header {
    padding: 5px 0;
    max-width: 900px;
    display:flex;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
}
.headings{
    display:flex;
    position: absolute;
    left: 0px;

}
.logo{
    margin: 1em;
    width: 100%;
    height:auto;
    margin-top: 2em;
    border-radius: 8px;
    
}
nav{
    margin: 0 auto;
    max-width: 600px;
}
.navigation {
    list-style: none;
    padding: 0;
    margin: 2em;
}

.navigation li:first-child{
    display: block;
}
.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75em;
    margin-left: 0;
    text-align: left;
    text-decoration: none;
    background-color: #6f4848;
    color: rgb(255, 255, 255);
    font-weight: 550;
    font-size: 25px;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}


.navigation a:hover {
    color:white;
    background-color: black;
}

.responsive li{
    display: block;
}

.responsive a.ham::before {
    content: "❌ ";
}
.heading{
  border: none; 
  font-size: 10px; 
  margin: 0 auto;
} 
section {
    border-radius: 10px;
    border: 2px solid black;
    padding: 2.5em;
}

main{
    display:grid;
    grid-template-columns: 1fr;
    padding: 5px 0;
}
section{
    margin: 5px;
}
.large{
    grid-row: 1/2;

}
.soc{
    text-align: end;
    margin: 0 auto;
    padding-top: 2em;
    padding-right: 3em;
    position: absolute;
    bottom: 0px;
    right: 50px;
}
div{
    padding: 5px;
}
footer{
    border: 2px solid black;
    justify-content: space-between;
}
.spotlight{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.banner{
    width:1100px;
    display:inline-block;
    text-align: left;
}
.otherHead{
    position: absolute;
    right: -30px;
}
.dt{
    text-align: center;
}
.lm{
    border: 1px solid black;
}
.footlogo{
    display: inline-block;
    text-align: center;
    padding: 1em;
}
.contact{
    display: inline-block;

}

