* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-color: #f7ebd7;
    max-width: 100%;
    justify-content: center;

}
header {
    padding: 5px 0;
    width: 100%;
    display:flex;
    align-content: center;
    justify-content: center;
    background-image: url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}
.headings{
    display:flex;

}
.logo{
    margin: auto;
    width: 100%;
    height:auto;
    margin-top: 2em;
    border-radius: 8px;
    
}
nav{
    margin: 0 auto;
    max-width: 100%;
}
.navigation {
    list-style: none;
    padding: 0;
    margin: 2em;
}

.navigation li:first-child{
    display: block;
}
.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75em;
    margin-left: 0;
    text-align: left;
    text-decoration: none;
    background-color: #6f4848;
    color: rgb(255, 255, 255);
    font-weight: 550;
    font-size: 25px;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}


.navigation a:hover {
    color:white;
    background-color: black;
}

.responsive li{
    display: block;
}

.responsive a.ham::before {
    content: "❌ ";
}
.heading{
  border: none; 
  font-size: 10px; 
  margin: 0 auto;
} 
section {
    border-radius: 10px;
    border: 2px solid black;
    padding: 2.5em;
}

main{
    display:grid;
    grid-template-columns: 1fr;
    padding: 5px 0;
}
section{
    margin: 5px;
}
.large{
    grid-row: 1/2;
    position: relative;
    width: 100%;
    height: auto;
    

}
.soc{
    text-align: end;
    margin: 0 auto;
    padding-top: 2em;
    padding-right: 3em;
}
div{
    padding: 5px;
}
footer{
    border: 2px solid black;
    justify-content: space-between;
}
.spotlight{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.banner{
    max-width:100%;
    display:inline-block;
    text-align: left;
}
.otherHead{
    right: -30px;
}
.dt{
    text-align: center;
}
.lm{
    border: 1px solid black;
}
.footlogo{
    display: inline-block;
    text-align: center;
    padding: 1em;
}
.last-visit{
    display: inline-block;
    text-align: center;
    padding: 1em;
}
.contact{
    display: inline-block;

}
.spot3{
    display: none;
}
.H-text{
    position: absolute;
    color:rgb(255, 255, 255);
}
#hero2{
    right: 300px;
}
#hero3{
    right: 320px;
    top: 75px;
}
#city{
    max-width: 100%;
    height: auto;
}
.gallery{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
.gallery img{
    width: 100%;
    height: auto;
}
.gallery-item{
    border: 1px solid black;
    margin: 1em;
    width: 100%;
    max-width: 400px;
    min-height: 300px;

}
.gallery-label{
    padding: 1em;
}
.gallery-item:hover{
    box-shadow: 0 0 50px #555;
}
@media screen and (min-width: 56rem){
.gallery{
    grid-column: 2/3;
    grid-template-columns: 1fr 1fr;
}}
@media screen and (min-width: 90rem){
    .gallery{
        grid-column: 2/3;
        grid-template-columns: 1fr 1fr 1fr;
        margin: auto;
    }
}

