:root {
    --title-fonts: "Bebas Neue", "Noto Sans", sans-serif;
    --body-fonts:"Noto Sans", sans-serif;
}

* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-color: #f7ebd7;
    max-width: 100%;
    justify-content: center;

}
h1, h2, h3{
    font-family: var(--title-fonts);
}
header {
    padding: 5px 0;
    width: 100%;
    display:flex;
    align-content: center;
    justify-content: center;
    background-image: url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}
.headings{
    display:flex;

}
.logo{
    margin: auto;
    width: 100%;
    height:auto;
    margin-top: 2em;
    border-radius: 8px;
    
}
nav{
    margin: 0 auto;
    max-width: 100%;
}
.navigation {
    list-style: none;
    padding: 0;
    margin: 2em;
}

.navigation li:first-child{
    display: block;
}
.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75em;
    margin-left: 0;
    text-align: left;
    text-decoration: none;
    background-color: #6f4848;
    color: rgb(255, 255, 255);
    font-weight: 550;
    font-size: 25px;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover {
    color:white;
    background-color: black;
}

.responsive li{
    display: block;
}

.responsive a.ham::before {
    content: "âŒ ";
}
.heading{
  border: none; 
  font-size: 10px; 
  margin: 0 auto;
} 
section {
    border-radius: 10px;
    border: 2px solid black;
    padding: 2.5em;
}

main{
    display:grid;
    grid-template-columns: 1fr;
    padding: 5px 0;
}
section{
    margin: 5px;
}
.large{
    position: relative;
    grid-row: 1/2;
    width: 100%;
    height: fit-content;
    padding: 5px;
    

}
#hero{
    position: relative;
    height: 194.86px;
}
.join{
    background-color: #6f4848;
    border-radius: 10px;
    font-size: 18px;
    font-family: var(--title-fonts);
    color: rgba(255, 255, 0, 0.656);
    height: 3em;
    width: 9em;
    position: absolute;
    top: 300px;
    right: 30px;
    transition: 0.5s;
    text-align: center;
    padding: 1em;
}

.join:hover{
    background-color: black;
    color: white;
}

#j-title{
    margin: 0 auto;
}

.join-block{
    display: block;
    text-align: center;
    justify-content: center;
    position: relative;
    padding: 0;
    height: 215px;
    width: auto;
}

.join-panel{
    background-color: #6f4848;
    border-radius: 10px;
    font-size: 18px;
    position: absolute;
    font-family: var(--body-fonts);
    color: rgba(255, 255, 0, 0.656);
    height: 3em;
    width: 9em;
    bottom: 30px;
    right: 30px;
    transition: 0.5s;
    text-align: center;
    padding: 1em;
    top: 50px;
    left: 18px;
}
.soc{
    text-align: end;
    margin: 0 auto;
    padding-top: 2em;
    padding-right: 3em;
}
div{
    padding: 5px;
}
footer{
    border: 2px solid black;
    justify-content: space-between;
}
.spotlight{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    text-align: center;
}

p{
    font-family: var(--body-fonts);
}
.banner{
    max-width:100%;
    display:inline-block;
    text-align: left;
}
.otherHead{
    right: -30px;
}
.dt{
    text-align: center;
}
.lm{
    border: 1px solid black;
}
.footlogo{
    display: inline-block;
    text-align: center;
    padding: 1em;
    border: none;
}
.last-visit{
    display: inline-block;
    text-align: center;
    padding: 1em;
}
.contact{
    display: inline-block;
    border: none;

}
#spot3{
    display: none;
}
#hero2{
    position: relative;
    left: 30px;
    color: black;
}
#hero3{
    position: absolute;
    right: 320px;
    top: -300px;
}
.gold{
    padding: 10px;
}
.gold h1{
    font-size: medium;
}
#city{
    max-width: 100%;
    height: auto;
}
.gallery{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
.gallery img{
    width: 100%;
    height: auto;
}
.gallery-item{
    border: 1px solid black;
    margin: 1em;
    width: 100%;
    max-width: 400px;
    min-height: 300px;

}
.gallery-label{
    padding: 1em;
}
.gallery-item:hover{
    box-shadow: 0 0 50px #555;
}
@media screen and (min-width: 56rem){
.gallery{
    grid-column: 2/3;
    grid-template-columns: 1fr 1fr;
}}
@media screen and (min-width: 90rem){
    .gallery{
        grid-column: 2/3;
        grid-template-columns: 1fr 1fr 1fr;
        margin: auto;
    }
}

/* Join Page */

form{
    grid-column: 2/3;
    max-width: 320px;
    margin: 0 auto;
    border: 1px solid gray;
    padding: 1em;
}
form label,
form input{
    display: block;
    width: 100%;
}
form input{
    margin-bottom: 1em;
    padding: .75rem;
}
label input{
    display: inline;
    width: auto;
    margin: 0;
}
form label.required::after{
    content: " *required";
    color: red;
}

input:invalid {
    box-shadow: 0 0 2px 1px red;
}
#mship{
    padding-bottom: 1em;
}

/*Directory Page*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.directory {
    display: grid;
    grid-template-columns: 1fr;
	margin: 0 auto;
	border: 1px solid #bbb;
	padding: 0.5rem;
    max-width: 1200px;
    width: 100%;
	background-color: #eee;
	font-family: "Caveat", cursive;
}

.menu {
	display: none;
    
}

.menu button {
	padding: 1rem;
}
article{
    margin:0 auto;
}
article,
section {
	margin: 0.75rem;
}

.card {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: rgb(248, 216, 236);
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 0 auto;
	align-items: center;
}

.list .logos{
    display: none;
}

.list h1 h2 h3{
    font-size: medium;
}

.list section {
	display: flex;
	align-items: center;
}

.grid section {
	flex-direction: column;
	text-align: center;
}

.grid section > * {
	margin: 0.1rem;
}

.list section {
	flex-direction: column;
	justify-content: left;
}

.list section > * {
	margin: 0 1rem;
	text-align: left;
}

.list section img {
	display: none; /* smaller viewports only */
}

article h3 {
	font-size: 1.5rem;
}
.logos{
    border-radius: 15px;
}

img {
	height: auto;
	max-width: 100%; /* Images are jerks - Seattle*/
}

body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-color: #f7ebd7;
    max-width: 100%;
    justify-content: center;

}
header {
    padding: 5px 0;
    width: 100%;
    display:flex;
    align-content: center;
    justify-content: center;
    background-image: url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

@media only screen and (min-width: 500px){
    #heading{
        grid-column: 1/3;
    }
}

@media (min-width: 700px) {
    #heading{
        grid-column: 1/4;
        text-align: center;
    }

    .menu {
        display: block;
        margin: 1rem auto;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: #bbb;
        text-align: center;
        
    }

    .list section{
        flex-direction: row;
    }
}

@media only screen and (min-width: 950px){
    #heading{
        grid-column: 1/5;
        text-align: center;
    }
}

