@media only screen and (min-width: 1106px) {
    .navigation{
        display: flex;
    }
    .navigation li {
        display: block;
        flex: 1 1 auto;
    }
    .navigation a{
        text-align: center;
    }
    .navigation li:first-child {
        display: none;
    }
    main{
        grid-template-columns: 3fr 1fr;
        max-width: 1200px;
    
    }

    #join{
        grid-column: 3/4;
    }
}