*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-color: white;
    max-width: 100%;
    justify-content: center;

}
header {
    padding: 5px 0;
    width: 100%;
    display:flex;
    align-content: center;
    justify-content: center;
    background-color: #009ddc;
}

.heading, .headings, .soc, .nav, #room-type{
    border: none;
}

nav{
    margin: 0 auto;
    max-width: 100%;
}
.navigation {
    list-style: none;
    padding: 0;
    margin: 2em;
}

.navigation li:first-child{
    display: block;
}
.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75em;
    margin-left: 0;
    text-align: left;
    text-decoration: none;
    background-color: #2e294e   ;
    color: rgb(255, 255, 255);
    font-weight: 550;
    font-size: 25px;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover {
    color:white;
    background-color: black;
}
.responsive li{
    display: block;
}

.responsive a.ham::before {
    content: "❌ ";
}
.headings{
    display:flex;

}
.logo{
    margin: auto;
    width: 100%;
    height:auto;
    margin-top: 2em;
    border-radius: 8px;
    
}

h1, h2, h3{
    font-family: 'Rubik Mono One', sans-serif;
}
p{
    font-family: 'Josefin Sans', sans-serif;
}
footer{
    border: 2px solid black;
    justify-content: space-between;
    background-color: #009ddc;
}
section, div{
    border-radius: 10px;
    border: 2px solid black;
    padding: 2.5em;
}
main{
    display:grid;
    grid-template-columns: 1fr;
    padding: 5px 0;
}
section{
    margin: 5px;
}

#join{
    position: relative;
    width: 100%
}
.join-panel{
    background-color: #6f4848;
    border-radius: 10px;
    position: absolute;
    font-size: 18px;
    font-family: var(--body-fonts);
    color: rgba(255, 255, 0, 0.656);
    height: 3em;
    width: 9em;
    bottom: 30px;
    right: 30px;
    transition: 0.5s;
    text-align: center;
    padding: 1em;
    float: right;

}

/*Reservation Page*/
.card {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: rgb(248, 216, 236);
}

.schedule{
    list-style: none;
}

.history{
    list-style: none;
}